# Custom directories and files
bin/
*#
*jar
*~
.lein-deps-sum
.lein-plugins/
.lein-repl-history
.repl*
/*.iml
/.cljs_node_repl/
/.idea
/classes/
/lib/
/out/
/pom.xml.asc
/release/
/target/
checkouts/
pom.xml

# Firebase config file
.firebaserc

# MacOS system file
.DS_Store

# Clj-kondo
*.clj-kondo
*.lsp

